# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

a[3:]

[4, 5, 6]

In [6]:
# create a list of numbers from 1 to 20

b = list(range(1,21))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [4]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
c = list(range(1,101))
evenlist = []
for i in c:
    if i % 2 == 0:
        evenlist.append(i)
evenlist

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [40]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def twonumbers(one, two):
    answer = one/two
    return answer

print(twonumbers(2,4))

0.5

In [41]:
# write a function that takes a string as input
# and return that string in all caps
def allcaps(words):
    return words.upper()

allcaps("hello")

'HELLO'

In [7]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

nums = list(range(1,31))

for num in nums:
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz") 
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [8]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmos_pricing = {"Gyro":9.00, "Burger":9.00, "Greek Salad":8.00, "Philly Steak":10.00}

In [9]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd

df = pd.read_csv("../data/starbucks.csv")

In [10]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.iloc[::40]

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
40,classic espresso drinks,caff americano,Short,5,0.0,0.0,0.0,0,5,1,0,0,0.4,0,0,0,0.0,75.0
80,signature espresso drinks,white chocolate mocha (without whipped cream),Grande Nonfat Milk,350,6.0,4.5,0.0,10,240,61,0,58,15.0,20,2,45,2.0,150.0
120,tazo tea drinks,tazo green tea latte,Soymilk,140,3.0,0.4,0.0,0,70,22,1,20,6.0,8,4,20,10.0,25.0
160,shaken iced beverages,iced brewed coffee (with milk classic syrup),Grande Nonfat Milk,110,0.1,0.0,0.0,0,30,24,0,24,2.0,4,0,8,2.0,90.0
200,frappuccino blended coffee,caramel (without whipped cream),Whole Milk,200,2.5,1.5,0.1,10,160,42,0,41,3.0,4,0,8,0.0,70.0
240,frappuccino blended crme,vanilla bean (without whipped cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4,0,10,6.0,0.0

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?